nav {
    background-color: #8C6C50;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
}

nav ul li {
    padding: 0px 10px 0px 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

nav ul li:hover {
    background-color: #322612;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8C6C50;
    height: 40px;
    min-height: 40px;
    margin-top: auto;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}