.scripture {
    font-size: 12px;
}

.scripture-desc {
    padding-left: 0px;
    overflow-y: auto;
    max-height: 40vh;
}

.map-container {
    height: 100%;
    width: 67vw;
}

@media only screen and (max-width: 500px) {
    .map-container {
        width: 100%;
    }
    
    .scripture-desc {
        max-height: 25vh;
    }
}